# Ignore raw and large data
data/fastq/
results/trimmed/
results/star_index/
results/aligned/
*.bam
*.bai
results/counts/*.summary
results/qc/raw_fastqc/
results/qc/trimmed_fastqc/
results/qc/multiqc_report.html
logs/
.snakemake/
tmp/
